/**
 * CMS Styles
 */
/**
 * Include Compass framework
 */
@import "compass";

/* full screen sidebar (pushes tabs to the left) */
.rightsidebar {
	width: 280px;
	border-right: none;
	border-left: 1px solid #c1c7cc;
	position: absolute;
	right: 0px;
	top: 0px;
	height: 100%!important;
	background-color: #f7f8fa;
	display: block!important;
	z-index: 10!important;

	.cms-panel-toggle a {
		text-align: left;
	}

	~ .rightsidebar-outer {
		width: 100%;
		padding-right: 280px;
		position: absolute;
		height: 100%;
		overflow-y: hidden;
		overflow-x: hidden;
		box-sizing: border-box;

		> .ss-tabset {
			position: relative;
			overflow: auto;
			height: 100%;
			width: 100%;

			#Title {
				label {
					float: none;
				}
				.middleColumn, input {
					width: 100%;
					max-width: 100%;
					margin-left: 0;
				}
			}
		}
	}

	.CompositeField.rightsidebar .form__fieldgroup {
	    bottom: auto!important;
	    height: 100%!important;
	    padding: 0 !important;
	    margin: 0!important;
	    padding-left: 30px!important;
	    width: 250px!important;
	    max-width: 100%!important;
	    flex: 0 0 0!important;
	    padding-top: 30px!important;
	    border-left: none;
			word-wrap: break-word;
	}

	.cms-content-view {
		> .field {
			+ .field {
				margin-top: 10px;
			}

			&.urlsegment {
				.preview {
					padding-top: 0;
					line-height: 25px;
				}

				.edit {
					float: right;
				}
			}

			&.datetime {
				> .middleColumn {
					> .date {
						width: 60%;
					}

					> .time {
						width: 36%;
						float: right;
					}

					.middleColumn, input {
						width: 100%;
					}
				}
			}

			label.right {
				margin: 4px 0 0 2px;
			}
		}
	}

	&.collapsed {
		~ .rightsidebar-outer {
			padding-right: 41px;
		}
	}

	&.cms-content-tools {
		.cms-panel-content {
			width: auto;
		}
	}
}

/* in-tab sidebar */
.rightsidebar-inner .rightsidebar-leftcol {
	padding-right: 280px;

	.rightsidebar {
		width: 286px;
		border-right: none;
		border-left: 1px solid #c1c7cc;
		position: absolute;
		height: auto;
		min-height: 100%;
		box-shadow: none;
		top: 77px;
		right: 0px;

		.cms-panel-content {
			padding: 0 14px 14px 14px;
			//border-left: 1px solid #d2d5d8;
		}

		h3.cms-panel-header {
			padding-bottom: 10px;
		}

		.cms-panel-content-collapsed, .cms-panel-toggle.south { display: none; }
	}
}

.cms-content-actions,
.cms-preview-controls {
	z-index: 999;
}
